body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #10011d, #030006);
  color: whitesmoke;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}

nav {
  font-size: 1.6vw;
  background-color: rgba(17, 17, 17, 0.5);
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.9vw 1.56vw;
  text-decoration: none;
  position: relative;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: normal;
}

li a:hover {
  background-color: #282033;
  text-decoration: underline;
}

.profilePicture {
  margin: 3.125vw 0;
  width: 30vw;
  border: 0.27vw solid #49898b;
  border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
  transition: box-shadow 0.3s ease-in-out;
  animation: borderAnimation 5s linear infinite;
}

.main {
  height: 100%;
  /* margin-top: 3.125vw; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  background-color: rgba(135, 135, 135, 0.2);
  border-radius: 0.31vw;
}

.main-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: normal;
}

.main-child > h1 {
  font-size: 3vw;
  font-weight: 800;
}

.main-child > h2 {
  font-size: 1.8vw;
  font-weight: 500;
}

.main-child > p {
  font-size: 1.2vw;
}

.main-info {
  flex-direction: column;
  align-items: start;
  padding-left: 1.25vw;
}

#typed {
  color: #66c3c7;
}

.main-info > h1 {
  margin-bottom: 0;
}

.main-info > h2 {
  margin-top: 0;
}

.main-info > p {
  padding-right: 0.8vw;
  margin-right: 1.25vw;
}

.social-button {
  height: 70px;
  background-color: rgba(245, 245, 245, 0.02);
  padding: 1.56vw;
  border: 0.04vw solid #66c3c7;
  color: #66c3c7;
  border-radius: 100%;
  margin: 0.31vw 0.62vw;
  transition: transform 0.4s, background-color 0.4s, color 0.4s, box-shadow 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.social-button:hover {
  background-color: #66c3c7;
  color: #f5f5f5;
  transform: scale(1.091);
  box-shadow: 0 0 1.25vw #66c3c7b3;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.about > h1 {
  font-size: 3.2vw;
  font-weight: 800;
  color: #66c3c7;
  text-align: center;
}

.about-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

.about-content,
.about-profile {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.5vw;
  margin: 1.25vw;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.25vw 1.25vw 0 0;
  background-color: rgba(135, 135, 135, 0.2);
  padding: 1.25vw;
  padding-bottom: 5em;
  height: auto;
}

.portfolio > h1 {
  font-size: 3.2vw;
  font-weight: 800;
  color: #66c3c7;
  text-align: center;
  margin-bottom: 2.5vw;
}

.portfolio-main {
  height: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.56vw;
}

.card {
  width: 85%;
  border-radius: 1.25vw;
  background-color: rgb(21, 3, 30);
  padding: 1.25vw 0.94vw;
  border: 0.31vw solid #49898b;
  transition: transform 0.4s, background-color 0.4s, color 0.4s, box-shadow 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  color: #f5f5f5;
  transform: scale(1.05);
  box-shadow: 0 0 1.25vw #66c3c7b3;
}

.thumbnail {
  width: 100%;
  border-radius: 1.2rem;
}

.card-head {
  width: 100%;
  display: flex;
  padding: 0.62vw;
  justify-content: space-between;
}

.card-head > h1 {
  width: 50%;
  color: #71d4d7;
}

.card-text {
  width: 100%;
}

.card-text > a {
  color: #66c3c7;
  text-decoration: none;
}

.card-text > a:hover {
  color: aqua;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
    opacity: 0%;
  }
  to {
    transform: translateX(0px);
    opacity: 100%;
  }
}

@keyframes borderAnimation {
  0% {
    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
  }
  35% {
    border-radius: 60% 40% 57% 43% / 40% 54% 46% 60%;
  }
  65% {
    border-radius: 67% 33% 68% 32% / 27% 70% 30% 73%;
  }
  100% {
    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    grid-template-columns: 5fr 7fr;
  }

  .about-main {
    grid-template-columns: 7fr 5fr;
  }

  .portfolio-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  nav {
    font-size: 3.5vw;
  }

  li a {
    padding: 2vw 3vw;
  }

  .main-child {
    height: 100%;
  }

  .profilePicture {
    margin: 5vw 0;
    width: 50vw;
    border: 0.5vw solid #49898b;
  }

  .main-child > h1 {
    font-size: 6vw;
  }

  .main-child > h2 {
    font-size: 4vw;
  }

  .main-child > p {
    height: auto;
    font-size: 3.3vw;
    text-align: center;
  }

  .main-info {
    padding: 3em 0px;
    align-items: center;
  }

  .main-info > h1 {
    margin-bottom: 2vw;
  }

  .main-info > h2 {
    margin-top: 2vw;
  }

  .main-info > p {
    padding-right: 2vw;
    margin-right: 3vw;
  }

  .social-button {
    height: 50px;
    padding: 3vw;
    margin: 1vw;
  }

  .about > h1 {
    font-size: 6vw;
  }

  .about-content,
  .about-profile {
    font-size: 3.5vw;
    margin: 2.5vw;
  }

  .about-profile > .profilePicture {
    display: none;
  }

  .portfolio > h1 {
    font-size: 6vw;
    margin-bottom: 5vw;
  }

  .portfolio-main {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
  }

  .card {
    width: 76%;
    padding: 3vw 2vw;
    margin: 1em;
  }

  .card-head > h1 {
    font-size: 4vw;
  }

  .card-text {
    font-size: 3.5vw;
  }
}
