body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #10011d, #030006);
  color: whitesmoke;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}

nav {
  font-size: 1.6vw;
}

ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  position: relative;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: normal;
  
}

li a:hover {
  background-color: #282033;
  text-decoration: underline;
}

img {
  margin: 50px 0;
  width: 30vw;
  border: 7px solid #49898b;
  border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
  transition: box-shadow 0.3s ease-in-out;
  animation: borderAnimation 5s linear infinite;
}


main {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-template-rows: auto;
  align-items: center;
  background-color: rgba(135, 135, 135, 0.5);
  /* border: 1px solid white; Testing */
  border-radius: 5px;
}

.main-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction:normal;
  
  /* border: 1px solid white; Testing */
}

.main-child > h1 {
  font-size: 3vw;
  font-weight: 8000;
}

.main-child > h2 {
  font-size: 1.8vw;
  font-weight: 5000;
}


.main-child > p {
  font-size: 1.2vw;
}

.main-info {
  flex-direction: column;
  align-items: start;
  padding-left: 20px;
  /* border: 1px solid white; Testing */
}

#typed {
  color: #66c3c7;
}

.main-info > h1 {
  margin-bottom: 0;
}

.main-info > h2 {
  margin-top: 0;
}

.main-info > p {
  padding-right: 13px;
  margin-right: 20px;
}

.action-button {
  display: flex;
  justify-content: start;
  width: 100%;
}

.social-button {
  background-color: rgba(245, 245, 245, 0.1);
  padding: 20px;
  border: 1px solid #66c3c7;;
  color: #66c3c7;;
  border-radius: 100%;
  margin: 5px 10px;
  transition: transform 0.4s, background-color 0.4s, color 0.4s, box-shadow 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.social-button:hover {
  background-color: #66c3c7;
  color: #f5f5f5;
  transform: scale(1.091);
  box-shadow: 0 0 20px #66c3c7b3;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
    opacity: 0%;
  }

  to {
    transform: translateX(0px);
    opacity: 100%;
  }
}

@keyframes borderAnimation {
  0% {
    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
  }

  35% {
    border-radius: 60% 40% 57% 43% / 40% 54% 46% 60%;
  }

  65% {
    border-radius: 67% 33% 68% 32% / 27% 70% 30% 73%;
  }

  100% {
    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
  }
}